body
{
    background-color: #f5f5f5;
    font-family: "URW Palladio L";
}

#header
{
    width: 1000px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    background-color: #06d9ff;
    color: #fdfdfd;
    
    text-align: center;
    font-family: "Purisa" "URW Palladio L";
    font-size: 60px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5edaff), color-stop(1, #17c9ff));
}

#footer
{
    width: 1000px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    background-color: #b9e9ff;
    color: #848484;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c5edff), color-stop(1, #b9e9ff));
}

#page-body
{
    width: 1000px;
    min-height: 300px;
    margin: 0 auto;
    overflow: auto;
    background-color: #FFFFFF;
}

#left-bar
{
    width:20%;
    background-color: #FFFFFF;
    float: left;
    display: block;
}
#main-frame
{
    width:80%;
    padding-right: 0px;
    float: right;
    background-color: #FFFFFF;
    display: block;
}

div.dash-frame
{
    margin: 0 0 0 0;
}

ul
{
    margin: 4px 4px 4px 4px;
    padding: 0 0 0 0;
}
ul li
{
    list-style: none;
}
ul li.title
{
    height: 40px;
    line-height: 40px;
    background-color: #00ceff;
    color: #fff;
    text-align: center;
    font-size: 14px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #65e1ff), color-stop(1, #00ceff));
}
ul li.normal
{
    height: 40px;
    line-height: 40px;
    background-color: #f5fcff;
    
    text-align: center;
    color: #696969;
    font-size: 14px;
}

ul li.bar
{
    height: 40px;
    line-height: 40px;
    background-color: #6be2f8;
    color: #fff;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #f4f4f4;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #89e8fa), color-stop(1, #6be2f8));
}
ul li.content
{
    height: 40px;
    padding-left: 10px;
    line-height: 40px;
    background-color: #fff;
    color: #909090;
    text-align: left;
    height:auto;
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: #f4f4f4;
    
    font-size: 14px;
}

a
{
    text-decoration: none;
    color: inherit;
}
a:hover
{
    text-decoration: none;
    color: #49ceff;
}